
<style>
body {
        background-image: url("https://www.seriouseats.com/images/2016/05/20160428-key-limes-vs-regular-limes-vicky-wasik--2.jpg");
}

</style>


<div class="container">
<h1>Add a Cocktail Ingredient</h1>



  <%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient%>
  <%= f.submit "Add to Cocktail", class: "btn btn-primary" %>
  <% end %>

<br>

<%= link_to "Go Back", cocktails_path, class: "btn btn-primary" %>


</div>
